/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {  
  .header-logo {
    
    height: 100px;
  }


.parent-row  {
  height: 100vh;
  
}

.transition-group  {
  height: 100vh;
  
}


.main-container{
  background-image: url("bbr-background.png");
}





}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 



}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {  }

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 

/* Extra large devices (large desktops)
/* No media query since the extra-large breakpoint has no upper bound on its width*/




body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.page-container {
  text-align: center;
  padding: 20px;
  font-size: large;
  height:100%;
 
}

.transition-group
{
 border-left: 6px double #f0c6c9;
  border-right: 6px double #f0c6c9;
}

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-list-item {
  padding: 5px;
}

.header {
  text-align: center;

 /* height: 350px;*/
  
  color: #8D7A52;
  border-top: 6px double #f0c6c9;
  border-left: 6px double #f0c6c9;
  border-right: 6px double #f0c6c9;
  
}



/*@keyframes header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.header-title {
  font-size: 1.5em;
}

.header-link {
  color: #8D7A52;
  text-decoration: none;
  padding: 5px;
}

.header-link-active {
  border-bottom: #8D7A52 solid 2px;
}
.header-link-hover {
  border-bottom: #8D7A52 solid 2px;
}


.product-list-item a {
  text-decoration: none;
}

.search-container {
  text-align: right;
  margin-bottom: -25px;
}

.animate-enter {
  opacity: 0;
  z-index: 1;
}

.animate-enter-active {
  opacity: 1;
  transition: opacity 450ms ease-in;
}

.animate-exit {
  display: none;
}

.admin-sections {
  list-style: none;
  margin: 0px 0px 20px 0px;
  padding: 0;
}

.admin-sections li {
  display: inline-block;
  margin-right: 10px;
}

.admin-sections li a {
  color: #222;
  text-decoration: none;
}

.admin-link-active {
  border-bottom: #6f6e6e solid 2px;
}

.product-reviews {
  list-style: none;
  padding: 0px;
}

.product-reviews .product-reviews-item {
  display: block;
  padding: 8px 0px;
}

.tabs {
  list-style: none;
  padding: 0;
}

.tabs li {
  display: inline-block;
  padding: 5px;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
}

.tabs li:focus {
  outline: none;
}

.tabs li.active {
  border-bottom: #222 solid 2px;
}

.background {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -10;
  background-image: url("bbr-background.png");
}


.content-bar{
  padding: 10px 10px 10px 10px;
  background: #182955;
 
}

}