www.{$DOMAIN_NAME} {
    redir https://peoplevsparkingtickets.co.uk
}

{$DOMAIN_NAME} {
    proxy / node:5000 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
    log stdout
    errors stdout
    gzip
}
